[Unit]
Description=My bot
After=multi-user.target
 
[Service]
Type=idle
ExecStart=/usr/bin/python /server/mlBonch/'to server'/savemodel.py
Restart=always
 
[Install]
WantedBy=multi-user.target